# Local Environment Assets
.venv/
ENV/
env/
venv/

# Python Compilation Artifacts
__pycache__/
*.py[cod]
*$py.class

# Data Science Specific Exclusions
data/
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db